header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #F5F5F5;
}

.logo {
    padding: 10px 0;
}

.logo a {
    font-size: 1.5em;
    text-decoration: none;
    color: #333;
}